@charset "utf-8";

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    z-index: -9999;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(224, 224, 224);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 500ms ease;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


section {
    height: 100vh;
}

#section1 {
    background-image: url("images\paintBackground.png");
    width: 100%;
    height: 100%;
}

.imgCol {
    margin-top: 5%;
    background: radial-gradient(#555759, white);
    height: 100vh;
}

.imgSpace {
    background-color: black;
    margin: 2vh 1vh 2vh 1vh;
    height: 96vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textCol {
    margin-top: 5%;
}

#introText {
    font-weight: 100;
    text-align: center;
}

.text {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.text>span {
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
}

.bg-light {
    background-color: transparent !important;
}

.bg-light:hover {
    background-color: #d3d2d2 !important;
}